@use "assets/styles/variables" as var;

.label-wrapper {
  & > *:first-child {
    display: flex;
    align-items: flex-end;
  }

  & > *:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.buttons {
  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.data-rows {
  :global(.grid-table .row) {
    min-width: 1086.4px;
  }
}

@media (max-width: 992px) {
  .data-rows {
    :global(.grid-table .row) {
      max-width: 800px !important;
      min-width: 800px !important;
    }
  }
}
