@use "assets/styles/variables" as var;

.ranking-section {
  background-color: #f2f2f2;
  margin-top: 0;
  padding: 35px 0;
  overflow: hidden;
}

.title,
.btn--more {
  transition: transform 1s ease;
  opacity: 0;
}

.title {
  transform: translateX(-150px);
}

.btn--more {
  color: var(--primary-font-color);
  transform: translateX(150px);
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color: var(--primary-font-color);

  &.active {
    .title,
    .btn--more {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

[data-theme="dark"] .ranking__wrapper {
  background-color: var(--primary-800);
}
