@use "assets/styles/variables" as var;

.sub-menu {
  position: fixed;
  top: -(var.$header-height);
  left: 0;
  right: 0;
  z-index: 2;

  transition: top 0.2s ease-in-out;

  &.active {
    top: var.$header-height;
  }
}

.sub-navbar {
  height: var.$header-height;
  max-height: var.$header-height;

  &-wrapper {
    background-color: #fff;
  }

  :global(.row) {
    flex-direction: column;
    height: 100%;
  }
}

.menu {
  height: 100%;
}

@media (min-width: 997px) {
  .sub-menu {
    display: none !important;
  }
}
