@use "assets/styles/mixins";

.my-title {
  margin-top: 30px;
  margin-bottom: 30px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0;
  }

  &__header__total {
    font-weight: 500;

    &__number {
      font-weight: 700;
    }
  }

  &__header__create {
    height: 42px;
    padding: 9.5px min(25px, 1vw - 0.1rem);

    display: flex;
    align-items: center;

    &:hover {
      color: #fff;
    }

    svg {
      font-size: 24px;
      margin-right: 5px;
    }
  }

  :global(.grid-table .row) {
    min-width: 1144px;
  }
}

:global(.right),
.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .my-title__header :global([class*="col"]):first-child {
    margin-bottom: 0.5rem;
  }
}
