.submit {
  width: 100%;
  margin: 30px 0;
}

.service-term {
  margin-top: 30px;
}

.term-label {
  margin-left: 5px;
}

.un-ordered-list {
  // list-style-type: "* ";
  list-style-type: none;
  margin: -0.5rem 0 0.7rem 1rem;
  color: #aaa;
  font-size: 0.9rem;

  > li::before {
    content: "*"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
}
