@use "assets/styles/variables" as var;
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/thumbs";
@import "swiper/css/autoplay";

.sub-navbar {
  border-bottom: 1px solid var.$border-gray;

  .col {
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }

  .navigator {
    font-weight: 600;
    background-color: var.$white;

    .swiper-button-prev,
    .swiper-button-next {
      font-size: 24px;
    }

    &__label {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(var.$header-height - 10px);
    }

    &__link {
      &:not(.active):hover {
        .navigator__label {
          color: var.$primary;
        }
      }

      &.active {
        border-bottom: 3px solid var.$primary;

        .navigator__label {
          color: var.$primary;
        }
      }
    }
  }
}
