@use "assets/styles/variables" as var;
@use "assets/styles/mixins";

.card-figure {
  width: 100%;

  &.horizontal {
    display: flex;

    :global(.image-wrapper) {
      margin: 0 15px 0 8px;
      border: 1px solid var.$grey-300;
    }
  }

  .card-figure__image {
    align-self: center;
    // width: 182px;
    aspect-ratio: 1 / 1;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 0.1);
    @include mixins.imageScale(1.1);
  }

  &__content {
    margin-top: 8px;

    &__total-chapter {
      color: #777;
    }

    &__author {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }

    &__title {
      margin-bottom: 1.2em;
      color: var(--primary-font-color);
      @include mixins.multiLineClamp(2);
    }

    &__summary {
      color: #555;
      @include mixins.multiLineClamp(2);
    }

    &__author {
      color: #777;
      @include mixins.multiLineClamp(1);
    }

    &__title,
    &__author {
      line-height: 1.4;
    }

    &__counting {
      margin-top: 6px;
      font-size: inherit;
      font-weight: 500;

      display: flex;
      align-items: center;
      flex: 1;

      &__view,
      &__like {
        font-size: 0.9rem;
        display: flex;
        align-items: center;

        &__icon {
          font-size: 1.3em;
        }
      }

      &__like {
        margin-right: 10px;
      }
    }
  }
}
