@use "assets/styles/variables";

.wrapper {
  width: 500px;
  padding: 20px 60px 60px;
  margin: calc(variables.$header-height + 40px) auto 80px;
  border: 1px solid variables.$gray-400;
}

.title {
  text-align: center;
}

.steps {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chevron-icon {
  font-size: 0.9rem;
}

.chevron-left {
  margin-right: 10px;
}

.chevron-right {
  margin-left: 10px;
}

.step2 {
  margin-top: 30px;
}
