@use "assets/styles/variables" as var;

.avatar {
  $size: 40px;
  width: $size;
  height: $size;
  margin-right: 1rem;
}

.username {
  font-weight: 500;
}

.activate-check-icon {
  color: var.$green-300;
  font-size: 22px;
}

.lock-icon {
  color: var.$primary;
}
