.label-wrapper {
  & > *:first-child {
    display: flex;
    align-items: flex-end;
  }

  & > *:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.data-rows {
  :global(.grid-table .row) {
    min-width: 1086.4px;
  }
}
