.wrapper {
  padding-bottom: 3rem;

  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    width: 300px;
  }
}

.title {
  font-size: 3rem;
}

.message {
  font-size: 1.3rem;
  padding: 20px;
  text-align: center;
  width: 60%;
}

.button-container {
  margin-top: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
