@use "assets/styles/variables";

.wrapper {
  width: 500px;
  padding: 20px 60px 60px;
  margin: calc(variables.$header-height + 40px) auto 80px;
  border: 1px solid variables.$grey-400;
}

.title {
  text-align: center;
}

.chevron-icon {
  font-size: 0.9rem;
}

.chevron-right {
  margin-left: 10px;
}

.submit-button {
  width: 100%;
  margin-top: 2rem;
}
