@use "assets/styles/variables";

.introduction {
  padding: 20px;
  background-color: #fff;
  display: flex;
  position: relative;

  &__info {
    padding-top: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    &__statistic {
      display: flex;
      align-items: center;
      margin: 15px 0;

      > *:not(:last-child) {
        margin-right: 15px;
      }
    }

    &__detail {
      & > * {
        margin-bottom: 8px;
        line-height: 1.4;
        display: block;
      }
    }
  }
}

.button-container {
  margin-top: 20px;
  width: 100%;
  font-size: 1.2rem;

  display: flex;
  align-items: center;

  svg {
    margin-right: 10px;
  }
}

.box-img {
  // flex: 0 0 44.72%;
  height: 306px;

  img {
    width: 100%;
    box-shadow: 0 0 2px rgb(0 0 0 / 0.2);
  }
}

.name {
  font-size: 24px;
}

.summary .more {
  font-weight: 700;
  font-size: 0.95em;
  color: variables.$primary;
}

.popup-summary {
  text-indent: 1em;
  word-break: break-word;
  text-align: justify;
  hyphens: auto;
}

@media (max-width: 992px) {
  .button-container {
    justify-content: center;
  }
}
