@use "assets/styles/variables";
@use "assets/styles/mixins";

.reading-page {
  $color: #a6a5a5;

  &__pagination {
    width: 100%;
    border-top: 1px solid $color;
    border-bottom: 1px solid $color;
    padding: 20px 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    :global(.swiper-button-next),
    :global(.swiper-button-prev) {
      font-size: 30px;
    }

    &__container {
      position: relative;
      display: flex;
      align-items: center;

      .slide-wrapper {
        width: 100%;

        &.active {
          pointer-events: none;
          cursor: default;

          .content {
            color: var(--primary-600);
          }
        }
      }
    }

    a {
      pointer-events: all;
    }

    .content {
      font-size: 0.9rem;
      font-weight: 600;
      color: $color;
      height: 44px;
      text-align: center;
      @include mixins.multiLineClamp(2);
    }
  }

  &__pagination__move {
    &-left,
    &-right {
      color: $color;
      position: absolute;
      top: 50%;
      z-index: 2;

      &::after {
        font-size: 30px;
      }
    }

    &-left {
      left: -50px !important;
    }

    &-right {
      right: -50px !important;
    }
  }
}

.lock-icon {
  transform: translateY(-2px);
}

.box-img {
  border-radius: 4px;
  margin-bottom: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px 2px rgb(0 0 0 / 0.06);

  img {
    border-radius: 4px;
    aspect-ratio: 1.25 / 1;
    object-fit: cover;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .reading-page__pagination__container {
    width: 400px;
  }
}

@media (min-width: 768px) and (max-width: 960px) {
  .reading-page__pagination__container {
    width: 600px;
  }
}

@media (min-width: 960px) and (max-width: 1180px) {
  .reading-page__pagination__container {
    width: 800px;
  }
}

@media (min-width: 1180px) {
  .reading-page__pagination__container {
    width: 1000px;
  }
}
