@use "assets/styles/variables" as var;
@use "assets/styles/mixins";

.weekly-page__content {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.day {
  @include mixins.centerFlexBox();
  flex: 0 0 calc(100% / 7);
  font-weight: 700;
  padding: 20px 0;
  border: 1px solid var.$grey-500;
  border-right: 0;
  border-radius: 0;
  position: relative;

  + .day {
    margin-left: 0;
  }

  &:last-child {
    border-right: 1px solid var.$grey-500;
  }

  &.active,
  &:not(.active):hover {
    background-color: var(--primary);
    color: var.$txt-white;
    transition: 0.3s ease-in-out;
  }

  &.today {
    &::before {
      position: absolute;
      content: "Hôm nay";
      top: -45%;
      left: 50%;
      transform: translate(-50%, 50%);
      width: 80px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #febd04;
      border-radius: 100vmax;
      color: #000;
      font-size: 0.8em;
      opacity: 0;
    }

    &::after {
      position: absolute;
      content: "";
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      border: 5px solid transparent;
      border-top: 5px solid #febd04;
      opacity: 0;
    }
  }

  &.today.active,
  &.today:hover {
    &::before,
    &::after {
      opacity: 1;
    }
  }
}

.short-version {
  display: none;
}

@media (max-width: 500px) {
  .day {
    padding: 12px 0;
  }
}

@media (max-width: 768px) {
  .short-version {
    display: block;
  }
  .full-version {
    display: none;
  }
}
