@use "assets/styles/variables";

.weekly-page {
  margin-bottom: 30px;

  :global(.image-wrapper) {
    width: 100%;
    aspect-ratio: 1.25/1;
  }
}

.notice-wrapper {
  border-bottom: 1px solid variables.$border-gray;
  padding: 20px 0;
  img {
    $size: 24px;
    width: $size;
    height: $size;
    margin-right: 20px;
  }
  span {
    font-weight: 700;
  }
}
