@use "assets/styles/mixins";

.title {
  @include mixins.multiLineClamp(3);
  font-weight: 500;
}

.box-img {
  $size: 80px;
  width: $size;
  height: $size;
}

.posted-time,
.updated-time {
  color: #888;
}
