@use "assets/styles/variables" as var;

.title {
  margin-bottom: 20px;
  color: var(--primary-font-color);

  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-weight: 500;
    width: 130px;
    margin-bottom: 0;
    text-align: center;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 6px;

  p {
    color: var(--primary-font-color);
  }
}

.expire {
  font-weight: bold;
}
