.btn-verify {
  width: 100%;
  border-radius: 10px;
  margin: 15px 0;

  .icon {
    margin-left: 0.6rem;
  }
}

.otp-container {
  height: 530px;
  padding: 30px 35px;
  width: 400px;
  margin: 4rem auto 3rem;
  padding-top: 2rem;

  display: flex;
  flex-direction: column;
}
