@use "assets/styles/variables" as var;

.wrapper {
  max-width: 800px;
  margin: calc(var.$header-height + 20px) auto 80px;
  padding: 1.3rem 3.5rem 4rem;
  border: 1px solid var.$border-gray;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .wrapper {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}
