@use "assets/styles/variables" as var;

.wrapper {
  $margin: 60px;
  margin-top: $margin;
  margin-bottom: $margin;
}

.selector-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.select {
  margin-left: 15px;
}
