@use "assets/styles/variables" as var;

.wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.selector-container {
  margin-top: 1rem;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.select {
  margin-left: 15px;
}
