@use "assets/styles/variables" as var;

.tooltip {
  position: absolute;
  padding: 0.3rem 0.8rem;
  background-color: var.$white;
}

.top-left {
  top: -100%;
  left: -100%;
}

.top-center {
  top: -100%;
  left: 50%;
  translate: -50%;
}

.top-right {
  top: -100%;
  right: -100%;
}

.left {
  top: 50%;
  left: -100%;
  translate: 0 -50%;
}

.right {
  top: 50%;
  right: -100%;
  translate: 0 -50%;
}

.bottom-left {
  bottom: -100%;
  left: -100%;
}

.bottom-center {
  bottom: -100%;
  left: 50%;
  translate: -50%;
}

.bottom-right {
  bottom: -100%;
  right: -100%;
}
