@use "assets/styles/variables" as var;
@use "components/Scrollbar/Scrollbar.module.scss";

.popup {
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  width: 400px;
  max-height: 70vh;

  position: fixed;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 21;

  display: flex;
  flex-direction: column;

  &__head {
    padding: 10px 0;
    border-bottom: 3px solid var.$primary;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  &__content {
    padding: 20px;
    line-height: 1.4;

    display: flex;
    justify-content: center;

    > * {
      height: 100%;
    }
  }

  &__btn-container {
    padding: 0.9rem 0 1rem;
    margin-top: 1px;
    // box-shadow: 0 -2rem transparent, 0 -1.75rem rgb(255 255 255 / 0.15),
    //   0 -1.5rem rgb(255 255 255 / 0.3), 0 -1rem rgb(255 255 255 / 0.5),
    //   0 -0.5rem rgb(255 255 255 / 0.7);

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    &::before {
      $size: 1.8rem;

      height: $size;
      background: linear-gradient(180deg, transparent, rgb(255 255 255 / 0.65) 60%);
      border-bottom: 1px solid var.$gray-400;

      content: "";
      position: absolute;
      top: -$size;
      left: 0;
      right: 0;
    }

    button {
      padding: 10px 60px;
      border: none;
      border-radius: 8px;
      outline: none;
      font-weight: 700;
    }
  }
}

.center {
  text-align: center;
}
