@use "assets/styles/variables" as var;

.floating-container {
  background-color: var(--island-background-color);
  box-shadow: var(--island-box-shadow);
  border: 1px solid var(--border);
  padding: 1.8rem;
  border-radius: 2rem;
  margin-top: var.$floating-container-margin-top;
  margin-bottom: 2rem;
}
