@use "assets/styles/variables";
@use "assets/styles/mixins";

.popup-charge-explain {
  .charging-demo,
  .fully-charge-demo {
    display: flex;
    align-items: center;
    .charge-bar {
      position: relative;
      border-radius: 100vmax;
      max-width: 150px;
      height: 27px;
      margin-right: 20px;
      overflow: hidden;
      span {
        @include mixins.centerByPosition(absolute);
        color: variables.$txt-white;
      }
    }
  }
  .charging-demo .charge-bar {
    width: 150px;
    background-color: #c4c4c4;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      width: 25%;
      background-color: variables.$clr-green;
    }
  }
  .fully-charge-demo {
    margin-top: 20px;
    .charge-bar {
      width: 100%;
      background-color: variables.$clr-green;
    }
  }
  .text-box {
    margin-top: 20px;
    svg {
      margin-right: 4px;
      font-size: 1rem;
      color: var(--primary);
    }
    p {
      margin-bottom: 8px;
    }
  }
}
