@use "assets/styles/variables";

$section-padding: 20px;

svg {
  font-size: 20px;
}

.title-page {
  background: variables.$clr-grey-faded;
  padding-bottom: 20px;
  padding-top: 55px;
  // background-color: transparent;

  &__banner {
    height: 360px;
    display: none;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__wrapper {
    > div,
    > section {
      background: #fff;
      margin-bottom: $section-padding;

      &:not(:nth-child(2)) {
        padding: $section-padding;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__background-image {
      width: 100%;
      height: 360px;
    }
  }
}

.chapters {
  padding-bottom: 3rem;
}

@media (max-width: 768px) {
  .title-page {
    padding-top: 0;
  }

  .background-image {
    display: none;
  }
}
