@use "assets/styles/variables";
@use "assets/styles/mixins";

.title-page__about {
  /* 
    TODO: delete after move to another file
   */
  &__ticket-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__charge {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__notifications {
    display: flex;
    align-items: center;
    svg {
      margin-right: 15px;
    }
  }
}
.side-info {
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
}

.icon-question {
  margin: 5px;
  cursor: pointer;
}

.icon-question,
.icon-info {
  color: #b2b2b2;
  font-size: 20px;
  pointer-events: visible;
}

.day-in-week,
.finished,
.paused {
  margin-left: 10px;
  padding: 6px 10px;
}

.day-in-week {
  padding: 3px 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.finished {
  background: #000;
  color: #fff;
}

.paused {
  background: #bd10db;
  color: #fff;
}

.user-tickets {
  display: flex;
}

.title,
.ticket {
  display: flex;
  align-items: center;
}

.ticket {
  margin-left: 40px;
  span {
    color: variables.$orange;
    font-weight: 700;
    font-size: 20px;
    &:first-child {
      margin: 0 4px 0 10px;
    }
  }

  .ticket-separate {
    color: variables.$orange;
    margin-right: 8px;
  }
}

.charge-info {
  display: flex;
  align-items: center;
  & > span {
    display: flex;
    align-items: center;
  }
}

.charge-time {
  color: variables.$primary;
  margin-left: 4px;
}

.charge__icon {
  margin-right: 10px;
}

.charge__icon {
  position: relative;
  font-size: 1.1em;

  &__label {
    @include mixins.centerByPosition(absolute);
    color: #fff;
  }
}
