@use "assets/styles/variables" as var;

.btn {
  background-color: transparent;
  padding: 9.5px 25px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: fit-content;
  font-size: inherit;

  font-weight: 700;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  + .btn {
    margin-left: 10px;
  }
}

// Color
.primary {
  border: 1px solid var.$primary-dark;
  background-color: var.$primary;
  color: var.$white;
  box-shadow: 1px 1px var.$primary-dark;

  &:hover {
    background-color: var.$primary;
    color: var.$white;
  }
}

.grey {
  background-color: #d7d7d7;
  color: var.$grey-700;
}

.outline {
  border-color: var.$primary-dark;
  color: var.$primary-dark;

  &:hover {
    color: var.$primary-dark;
  }
}

.outline.grey {
  border: 1px solid #ccc;
  background-color: transparent;
  color: var.$grey-600;
}

.outline.success {
  background-color: transparent;
  border-color: var.$clr-green;
  color: var.$clr-green;
}

// Darken
.dark90 {
  filter: brightness(90%);
}

.dark80 {
  filter: brightness(80%);
}

.dark70 {
  filter: brightness(70%);
}

.dark60 {
  filter: brightness(60%);
}

.dark50 {
  filter: brightness(50%);
}

.dark40 {
  filter: brightness(40%);
}

.dark30 {
  filter: brightness(30%);
}

.dark20 {
  filter: brightness(20%);
}

.dark10 {
  filter: brightness(10%);
}

// Lighten
.light90 {
  filter: brightness(90%);
}

.light80 {
  filter: brightness(80%);
}

.light70 {
  filter: brightness(70%);
}

.light60 {
  filter: brightness(60%);
}

.light50 {
  filter: brightness(50%);
}

.light40 {
  filter: brightness(40%);
}

.light30 {
  filter: brightness(30%);
}

.light20 {
  filter: brightness(20%);
}

.light10 {
  filter: brightness(10%);
}

// Size
.large {
  padding: 11px 70px;
  border-radius: 8px;
  font-size: 1.15rem;
}

.small {
  padding: 6px 20px;
  border-radius: 8px;
  font-size: 1rem;
}

.xsmall {
  padding: 4px 20px;
  border-radius: 8px;
  font-size: 1rem;
}

.full-width {
  width: 100%;
}

// Attributes
.disabled {
  background-color: #efefef4d !important;
  color: #1010104d !important;
  border: 0;
  box-shadow: none;
  pointer-events: none;
}

// Box model
.text {
  padding: 0;
  min-width: fit-content;
  font-weight: 400;
  display: inline-block;

  @extend .wrapper;

  + .text {
    margin-left: 0;
  }
}

.wrapper {
  background-color: transparent;
  border: 0;

  + .wrapper {
    margin-left: 0;
  }
}

.round {
  border-radius: 20vmax !important;
}

.marginTop1 {
  margin-top: 1rem;
}
