@use "assets/styles/variables" as var;

.btn {
  background-color: transparent;
  padding: 6.5px 20px;
  outline: none;
  min-width: fit-content;

  border: 1px solid transparent;
  border-radius: 5px;

  font-size: inherit;
  font-weight: 700;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  + .btn {
    margin-left: 10px;
  }
}

// Color
.primary {
  border: 1px solid var.$primary-dark;
  background-color: var.$primary;
  color: var.$white;
  box-shadow: 1px 2px var.$primary-dark;

  &:hover {
    background-color: var.$primary;
    color: var.$white;
  }
}

.secondary {
  border: 1px solid #008cbb;
  background-color: var.$secondary;
  color: var.$white;
  box-shadow: 1px 2px #008cbb;
}

.grey {
  background-color: #d7d7d7;
  color: var.$grey-700;
}

.outline {
  border-color: var.$primary-dark;
  color: var.$primary-dark;

  &:hover {
    color: var.$primary-dark;
  }
}

.outline.grey {
  border: 1px solid #ccc;
  background-color: transparent;
  color: var.$grey-600;
}

.outline.success {
  background-color: transparent;
  border-color: var.$clr-green;
  color: var.$clr-green;
}

// Size
.large {
  padding: 11px 70px;
  border-radius: 8px;
  font-size: 1.15rem;
}

.small {
  padding: 4px 14px;
  border-radius: 6px;
  font-size: 0.8rem;
}

.xsmall {
  padding: 4px 20px;
  border-radius: 8px;
  font-size: 1rem;
}

.full-width {
  width: 100%;
}

// Attributes
.disabled {
  background-color: #efefef4d !important;
  color: #1010104d !important;
  border: 0;
  box-shadow: none;
  pointer-events: none;
}

// Box model
.text {
  padding: 0;
  min-width: fit-content;
  font-weight: 400;
  display: inline-block;

  @extend .wrapper;

  + .text {
    margin-left: 0;
  }
}

.wrapper {
  background-color: transparent;
  border: 0;

  + .wrapper {
    margin-left: 0;
  }
}

.round {
  border-radius: 20vmax !important;
}
