@use "assets/styles/variables" as var;

.header {
  padding: 0 1rem;
  background-color: #fff;
  height: var.$header-height;
  border-bottom: 1px solid var.$grey-200;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1342px) {
  .header {
    transition: all 0.5s ease;
    margin-left: var.$min-sidebar-width;

    &.sidebar--toggle {
      margin-left: var.$sidebar-width;
    }
  }
}
