@use "assets/styles/variables" as var;

.content {
  display: flex;
  justify-content: space-between;
}

.icon {
  $size: 2.2rem;
  width: $size;
  height: $size;
  font-size: $size;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-wrapper {
  padding-top: 1rem;
}

.label {
  font-weight: 500;
}

.amount {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 0.8rem;
}

.sub-label {
  color: var.$gray-500;
  font-size: 0.8em;
}
