.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15);
  max-height: inherit;

  &::-webkit-scrollbar {
    background-color: transparent;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f4f4f4;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    width: 8px;
  }
}

.x-axis {
  overflow-x: auto;
}

.y-axis {
  overflow-y: auto;
}
