@use "assets/styles/variables" as var;
@use "components/Scrollbar/Scrollbar.module.scss";

.MuiDataGrid {
  &-root {
    .MuiPagination-ul .Mui-selected {
      background-color: var.$primary !important;
      color: #fff;
      cursor: default;
    }

    .MuiDataGrid-toolbarContainer {
      .MuiPaginationItem-page {
        display: none !important;
      }
    }

    // Disable license watermark
    div[style="position: absolute; pointer-events: none; color: rgba(130, 130, 130, 0.62); z-index: 100000; width: 100%; text-align: center; bottom: 50%; right: 0px; letter-spacing: 5px; font-size: 24px;"] {
      display: none;
    }
  }

  &-toolbarContainer {
    > .MuiDataGrid-toolbarContainer .MuiButtonBase-root {
      &,
      > * {
        color: var.$primary-dark;
      }
    }
  }

  &-virtualScroller {
    @extend .scrollbar;
  }
}
