@use "assets/styles/variables" as var;
@use "components/Scrollbar/Scrollbar.module.scss";

:global(.MuiDataGrid-root) {
  :global(.MuiPagination-ul) :global(.Mui-selected) {
    background-color: var.$primary !important;
    color: #fff;
    cursor: default;
  }

  :global(.MuiDataGrid-toolbarContainer) {
    :global(.MuiPaginationItem-page) {
      display: none !important;
    }
  }

  // Disable license watermark
  div[style="position: absolute; pointer-events: none; color: rgba(130, 130, 130, 0.62); z-index: 100000; width: 100%; text-align: center; bottom: 50%; right: 0px; letter-spacing: 5px; font-size: 24px;"] {
    display: none;
  }
}

:global(.MuiDataGrid-toolbarContainer) {
  > :global(.MuiDataGrid-toolbarContainer) > * {
    color: var.$primary-dark;
  }
}

:global(.MuiDataGrid-virtualScroller) {
  @extend .scrollbar;
}

.question-icon {
  font-size: 20px;
  color: #999;
  cursor: pointer;
}

.key {
  padding: 5px;
  display: inline-block;
  white-space: nowrap;
  margin: 0 auto 0 1px;
  font-size: 13px;
  line-height: 10px;
  color: #1a2027;
  vertical-align: middle;
  background-color: #f3f6f9;
  border: 1px solid #cdd2d7;
  border-radius: 5px;
  box-shadow: inset 0 -1px 0 #cdd2d7;
}

.guide {
  // margin-left: 2rem;
  width: 50%;
}

.guide-wrapper {
  margin-bottom: 0.5rem;
  display: flex;
}
