@use "assets/styles/variables" as var;
@use "components/Scrollbar/Scrollbar.module.scss";

.MuiDataGrid {
  &-root {
    .MuiTablePagination-actions {
      display: none;
    }

    .Mui-selected {
      background-color: var.$primary !important;
      color: #fff;
      cursor: default;
    }
  }

  &-toolbarContainer {
    .MuiButtonBase-root {
      &,
      > * {
        color: var.$primary-dark;
      }
    }
  }

  &-virtualScroller {
    @extend .scrollbar;
  }
}
