@use "assets/styles/variables" as var;

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  border-top: 1px solid var.$grey-200;
  width: 40rem;

  h3 {
    text-align: center;
  }
}
