@use "assets/styles/variables";
@use "components/Scrollbar/Scrollbar.module.scss";

.popup {
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  width: 400px;
  max-height: 70vh;

  position: fixed;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 21;

  @extend .scrollbar;

  &__head {
    padding: 10px 0;
    border-bottom: 3px solid variables.$primary;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  &__content {
    padding: 20px;
    line-height: 1.4;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

    button {
      padding: 10px 60px;
      margin-bottom: 25px;
      border: none;
      border-radius: 8px;
      outline: none;
      font-weight: 700;
    }
  }

  &__confirm__btn-close {
    margin-left: 10px !important;
  }
}
