@use "assets/styles/variables";

.title {
  font-weight: 500;
  margin-bottom: 10px;
}

.methods {
  border: 1px solid variables.$border-grey;
}

.method {
  padding: 15px 20px;
  font-size: 1.1em;
  display: flex;
  align-items: center;

  &:not(:first-child) {
    border-top: 1px solid variables.$border-grey;
  }

  input[type="radio"] {
    $size: 26px;
    width: $size;
    height: $size;
    margin-right: 10px;
  }

  .image {
    margin-left: 15px;
  }
}
