@use "components/Scrollbar/Scrollbar.module.scss" as scl;

.wrapper {
  position: relative;
}

.textarea {
  :global(.ql-container) {
    padding-bottom: 1.2rem;
    font-size: 1rem;
  }

  &.is-invalid {
    border-color: red;
  }
}

.text-length {
  @extend .scrollbar;

  position: absolute;
  bottom: 4px;
  right: 20px;
  color: #ccc;

  .textarea.is-invalid + .text-length {
    bottom: 36px;
  }
}
