@use "assets/styles/variables";

.tabs-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;

  .tabs__tab {
    padding: 5px 20px;
    border-radius: 100vmax;
    font-weight: 500;
    width: fit-content;

    &:not(:first-child) {
      margin-left: 15px;

      &:hover {
        color: variables.$primary-dark;
      }
    }

    &.active {
      color: variables.$primary-dark;
      border: 1px solid variables.$primary-dark;
    }
  }
}
