@use "assets/styles/variables" as var;
@use "components/Scrollbar/Scrollbar.module.scss";

.upper-container {
  display: flex;
  justify-content: space-between;

  > :global(.MuiDataGrid-toolbarContainer) > * {
    color: var.$primary-dark;
  }
}

:global(.MuiDataGrid-toolbarContainer) {
  display: block !important;
}

.delete-button {
  background-color: #ed4856;
  color: var.$white;
  font-size: 0.9em;
  letter-spacing: 1.2px;
  font-weight: 300;

  display: flex;
  align-items: center;

  .trash-can-icon {
    margin-left: 0.3rem;
    font-size: 1.2em;
  }
}

.question-icon {
  margin-right: 0.7rem;
  cursor: pointer;
}
