@use "assets/styles/variables" as var;
@use "components/Scrollbar/Scrollbar.module.scss";

:global(.MuiDataGrid-root) {
  :global(.MuiPagination-ul) :global(.Mui-selected) {
    background-color: var.$primary !important;
    color: var.$white;
    cursor: default;
  }

  :global(.MuiDataGrid-toolbarContainer) {
    display: block !important;

    :global(.MuiPaginationItem-page) {
      display: none !important;
    }
  }

  :global(.MuiTablePagination-root) {
    @extend .scrollbar;
  }

  :global(.container) {
    width: unset;
    max-width: unset;
  }

  :global(.timestamp) {
    color: #888;
  }

  // Disable license watermark
  div[style="position: absolute; pointer-events: none; color: rgba(130, 130, 130, 0.62); z-index: 100000; width: 100%; text-align: center; bottom: 50%; right: 0px; letter-spacing: 5px; font-size: 24px;"] {
    display: none;
  }

  :global(.MuiDataGrid-actionsCell) {
    svg {
      font-size: 18px;
    }
  }
}

:global(.MuiDataGrid-virtualScroller) {
  @extend .scrollbar;
}
