@use "assets/styles/variables" as var;
@use "assets/styles/mixins";

.title {
  @include mixins.multiLineClamp(2);
  font-weight: 500;
}

.box-img {
  $size: 80px;
  width: $size;
  height: $size;
}

.posted-time,
.updated-time {
  color: #888;
}

[class*="approved-status"] {
  font-weight: 700;
}

[class*="2a3d76db-5dee-4b9f-9442-f34feb524df6"] {
  color: var.$yellow;
}

[class*="6cbc2179-d24c-4097-abe9-320e4ae6c4ca"] {
  color: var.$clr-green;
}

[class*="4057aa82-5773-11ed-8b7d-208f6f7e284f"] {
  color: var.$red;
}
