@use "assets/styles/variables";

.recommend {
  margin-top: 1.3rem;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      background-color: var(--primary);
      width: 4px;
      border-radius: 100vmax;
    }

    h4 {
      font-size: 20px;
      padding-left: 15px;
    }

    + .cards-wrapper .card-figure {
      margin-top: 0;
    }
  }

  .more {
    svg {
      transition: transform 0.3s ease-in-out;
      margin-left: 5px;
      &.rotate {
        transform: rotateX(0.5turn);
      }
    }
  }
}
