@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

body {
  font-family: "Roboto", sans-serif !important;
  font-family: sour;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

a {
  color: variables.$txt-black;
  text-decoration: none;
  &:hover {
    color: variables.$txt-black;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
