// Return opaque color
// opaque(#fff, rgba(0, 0, 0, .5)) => #808080
@function opaque($background, $foreground) {
  @return mix(rgba($foreground, 1), $background, opacity($foreground) * 100);
}

// scss-docs-start color-functions
// Tint a color: mix a color with white
@function tint-color($color, $weight) {
  @return mix(white, $color, $weight);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
  @return mix(black, $color, $weight);
}

// Shade the color if the weight is positive, else tint it
@function shift-color($color, $weight) {
  @return if($weight > 0, shade-color($color, $weight), tint-color($color, -$weight));
}
// scss-docs-end color-functions
// @import "~bootstrap/scss/functions";

// Override bootstrap variables
$white: #fff;
$grey-100: #f8f9fa;
$grey-200: #e9ecef;
$grey-300: #dee2e6;
$grey-400: #ced4da;
$grey-500: #adb5bd;
$grey-600: #6c757d;
$grey-700: #495057;
$grey-800: #343a40;
$grey-900: #212529;
$black: #000;

// $greys: (
//   "100": $grey-100,
//   "200": $grey-200,
//   "300": $grey-300,
//   "400": $grey-400,
//   "500": $grey-500,
//   "600": $grey-600,
//   "700": $grey-700,
//   "800": $grey-800,
//   "900": $grey-900,
// );

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$min-contrast-ratio: 4.5;

$color-contrast-dark: $black;
$color-contrast-light: $white;

$blue-100: tint-color($blue, 80%);
$blue-200: tint-color($blue, 60%);
$blue-300: tint-color($blue, 40%);
$blue-400: tint-color($blue, 20%);
$blue-500: $blue;
$blue-600: shade-color($blue, 20%);
$blue-700: shade-color($blue, 40%);
$blue-800: shade-color($blue, 60%);
$blue-900: shade-color($blue, 80%);

$indigo-100: tint-color($indigo, 80%);
$indigo-200: tint-color($indigo, 60%);
$indigo-300: tint-color($indigo, 40%);
$indigo-400: tint-color($indigo, 20%);
$indigo-500: $indigo;
$indigo-600: shade-color($indigo, 20%);
$indigo-700: shade-color($indigo, 40%);
$indigo-800: shade-color($indigo, 60%);
$indigo-900: shade-color($indigo, 80%);

$purple-100: tint-color($purple, 80%);
$purple-200: tint-color($purple, 60%);
$purple-300: tint-color($purple, 40%);
$purple-400: tint-color($purple, 20%);
$purple-500: $purple;
$purple-600: shade-color($purple, 20%);
$purple-700: shade-color($purple, 40%);
$purple-800: shade-color($purple, 60%);
$purple-900: shade-color($purple, 80%);

$pink-100: tint-color($pink, 80%);
$pink-200: tint-color($pink, 60%);
$pink-300: tint-color($pink, 40%);
$pink-400: tint-color($pink, 20%);
$pink-500: $pink;
$pink-600: shade-color($pink, 20%);
$pink-700: shade-color($pink, 40%);
$pink-800: shade-color($pink, 60%);
$pink-900: shade-color($pink, 80%);

$red-100: tint-color($red, 80%);
$red-200: tint-color($red, 60%);
$red-300: tint-color($red, 40%);
$red-400: tint-color($red, 20%);
$red-500: $red;
$red-600: shade-color($red, 20%);
$red-700: shade-color($red, 40%);
$red-800: shade-color($red, 60%);
$red-900: shade-color($red, 80%);

$orange-100: tint-color($orange, 80%);
$orange-200: tint-color($orange, 60%);
$orange-300: tint-color($orange, 40%);
$orange-400: tint-color($orange, 20%);
$orange-500: $orange;
$orange-600: shade-color($orange, 20%);
$orange-700: shade-color($orange, 40%);
$orange-800: shade-color($orange, 60%);
$orange-900: shade-color($orange, 80%);

$yellow-100: tint-color($yellow, 80%);
$yellow-200: tint-color($yellow, 60%);
$yellow-300: tint-color($yellow, 40%);
$yellow-400: tint-color($yellow, 20%);
$yellow-500: $yellow;
$yellow-600: shade-color($yellow, 20%);
$yellow-700: shade-color($yellow, 40%);
$yellow-800: shade-color($yellow, 60%);
$yellow-900: shade-color($yellow, 80%);

$green-100: tint-color($green, 80%);
$green-200: tint-color($green, 60%);
$green-300: tint-color($green, 40%);
$green-400: tint-color($green, 20%);
$green-500: $green;
$green-600: shade-color($green, 20%);
$green-700: shade-color($green, 40%);
$green-800: shade-color($green, 60%);
$green-900: shade-color($green, 80%);

$teal-100: tint-color($teal, 80%);
$teal-200: tint-color($teal, 60%);
$teal-300: tint-color($teal, 40%);
$teal-400: tint-color($teal, 20%);
$teal-500: $teal;
$teal-600: shade-color($teal, 20%);
$teal-700: shade-color($teal, 40%);
$teal-800: shade-color($teal, 60%);
$teal-900: shade-color($teal, 80%);

$cyan-100: tint-color($cyan, 80%);
$cyan-200: tint-color($cyan, 60%);
$cyan-300: tint-color($cyan, 40%);
$cyan-400: tint-color($cyan, 20%);
$cyan-500: $cyan;
$cyan-600: shade-color($cyan, 20%);
$cyan-700: shade-color($cyan, 40%);
$cyan-800: shade-color($cyan, 60%);
$cyan-900: shade-color($cyan, 80%);

// $blues: (
//   "blue-100": $blue-100,
//   "blue-200": $blue-200,
//   "blue-300": $blue-300,
//   "blue-400": $blue-400,
//   "blue-500": $blue-500,
//   "blue-600": $blue-600,
//   "blue-700": $blue-700,
//   "blue-800": $blue-800,
//   "blue-900": $blue-900,
// );

// $indigos: (
//   "indigo-100": $indigo-100,
//   "indigo-200": $indigo-200,
//   "indigo-300": $indigo-300,
//   "indigo-400": $indigo-400,
//   "indigo-500": $indigo-500,
//   "indigo-600": $indigo-600,
//   "indigo-700": $indigo-700,
//   "indigo-800": $indigo-800,
//   "indigo-900": $indigo-900,
// );

// $purples: (
//   "purple-100": $purple-100,
//   "purple-200": $purple-200,
//   "purple-300": $purple-300,
//   "purple-400": $purple-400,
//   "purple-500": $purple-500,
//   "purple-600": $purple-600,
//   "purple-700": $purple-700,
//   "purple-800": $purple-800,
//   "purple-900": $purple-900,
// );

// $pinks: (
//   "pink-100": $pink-100,
//   "pink-200": $pink-200,
//   "pink-300": $pink-300,
//   "pink-400": $pink-400,
//   "pink-500": $pink-500,
//   "pink-600": $pink-600,
//   "pink-700": $pink-700,
//   "pink-800": $pink-800,
//   "pink-900": $pink-900,
// );

// $reds: (
//   "red-100": $red-100,
//   "red-200": $red-200,
//   "red-300": $red-300,
//   "red-400": $red-400,
//   "red-500": $red-500,
//   "red-600": $red-600,
//   "red-700": $red-700,
//   "red-800": $red-800,
//   "red-900": $red-900,
// );

// $oranges: (
//   "orange-100": $orange-100,
//   "orange-200": $orange-200,
//   "orange-300": $orange-300,
//   "orange-400": $orange-400,
//   "orange-500": $orange-500,
//   "orange-600": $orange-600,
//   "orange-700": $orange-700,
//   "orange-800": $orange-800,
//   "orange-900": $orange-900,
// );

// $yellows: (
//   "yellow-100": $yellow-100,
//   "yellow-200": $yellow-200,
//   "yellow-300": $yellow-300,
//   "yellow-400": $yellow-400,
//   "yellow-500": $yellow-500,
//   "yellow-600": $yellow-600,
//   "yellow-700": $yellow-700,
//   "yellow-800": $yellow-800,
//   "yellow-900": $yellow-900,
// );

// $greens: (
//   "green-100": $green-100,
//   "green-200": $green-200,
//   "green-300": $green-300,
//   "green-400": $green-400,
//   "green-500": $green-500,
//   "green-600": $green-600,
//   "green-700": $green-700,
//   "green-800": $green-800,
//   "green-900": $green-900,
// );

// $teals: (
//   "teal-100": $teal-100,
//   "teal-200": $teal-200,
//   "teal-300": $teal-300,
//   "teal-400": $teal-400,
//   "teal-500": $teal-500,
//   "teal-600": $teal-600,
//   "teal-700": $teal-700,
//   "teal-800": $teal-800,
//   "teal-900": $teal-900,
// );

// $cyans: (
//   "cyan-100": $cyan-100,
//   "cyan-200": $cyan-200,
//   "cyan-300": $cyan-300,
//   "cyan-400": $cyan-400,
//   "cyan-500": $cyan-500,
//   "cyan-600": $cyan-600,
//   "cyan-700": $cyan-700,
//   "cyan-800": $cyan-800,
//   "cyan-900": $cyan-900,
// );

$primary: #1cacdc;
$secondary: hsl(0, 100%, 48%);
$secondary-dark: rgb(204, 0, 0);
$secondary-admin: #fa5973;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $grey-100;
$dark: $grey-900;

// $theme-colors: (
//   "primary": $primary,
//   "secondary": $secondary,
//   "success": $success,
//   "info": $info,
//   "warning": $warning,
//   "danger": $danger,
//   "light": $light,
//   "dark": $dark,
// );

$layout-transition-time: 0.2s;
$sidebar-width: 300px;
$min-sidebar-width: 105px;
$bgc-admin: #f1f6f9;
$clr-green: hsl(151, 81%, 46%);
$clr-grey: #636363;
$clr-grey-faded: #eaeaea;
$clr-white: #fff;
$clr-black: #2b2b2b;

$border-grey: #e1e1e1;
$border-grey-dark: #d9d9d9;

$txt-white: #fff;
$txt-black: #020202;

$header-height: 72px;
$footer-height: 420px;

$floating-container-margin-top: 0.6rem;

$field-height: 45px;
$field-padding: 5px 10px;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --background-color: #{$bgc-admin};
  --primary-font-color: #{$txt-black};
  --border: unset;
  --island-background-color: #fff;
  --island-box-shadow: 0 2rem 3rem rgb(132 139 200 / 0.18);
}

[data-theme="dark"] {
  --background-color: #121212;
  --island-background-color: #202020;
  --island-box-shadow: 0 1.5rem 2rem rgba(95, 96, 99, 0.22);
  --border: 1px solid #282828;
  --primary-font-color: #{$txt-white};

  background-color: var(--background-color);
  color: var(--primary-font-color);
}
