@use "assets/styles/variables";
@use "assets/styles/mixins";

.title {
  @include mixins.multiLineClamp(2);
  font-weight: 500;
}

.cover {
  height: 60px;
  width: 80px;
}

.accelerate {
  @include mixins.centerFlexBox();
}
