.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  padding-right: 1rem;
  font-size: 1.3rem;
}

.label {
  font-weight: 500;
}

.amount {
  font-weight: 700;
  font-size: 1.6em;
}
