@use "assets/styles/variables" as var;

.title {
  font-weight: 500;
}

.box-img {
  $size: 80px;
  width: $size;
  height: $size;
  border: 1px solid var.$grey-400;
  border-radius: 1rem;
  margin-right: 1rem;
  overflow: hidden;
  user-select: none;
  flex-shrink: 0;
}

.dollar-icon {
  color: var.$orange;
  font-size: 20px;
}

.icon {
  $size: 18px;
  width: $size;
  height: $size;
  margin-left: 6px;
}

.number-wrapper {
  display: flex;
  align-items: center;
}

.view-icon {
  color: #928925;
}
