@use "assets/styles/variables" as var;

.sidebar {
  width: 300px;
  height: 100vh;
  max-height: 100vh;
  background-color: var.$white;
  padding-left: 1.1rem;
  padding-bottom: 3rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;

  &--toggle {
    position: absolute;
    font-size: 2rem;
    left: 0;
  }
}

.logo {
  fill: #000;
  width: 150px;
  height: var.$header-height;

  &-wrapper {
    width: 100%;
    border-bottom: 1px solid var.$gray-200;
  }
}

.user-info {
  margin-top: 1rem;
  border-top: 1px solid var.$gray-200;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.username {
  margin-left: 1rem;
  font-size: 1.3em;
  font-weight: 500;
  flex: 1;
}

.logout-icon {
  color: var.$primary-dark;
  width: 1.6rem;
  height: 1.6rem;
}
