@use "assets/styles/variables" as var;

.comment {
  display: flex;
}

.content {
  background-color: #f1f2f4;
  border-radius: 4px;
  color: #111111;
  line-height: 22px;
  margin: 0px 0px 10px 20px;
  padding: 6px 40px 6px 10px;
  text-align: left;

  flex: 1;
}

.username {
  color: #111111;
  display: inline;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
}

.comment-time,
.delete-button,
.reply {
  color: rgb(0 0 0 / 0.46);
  font-size: 0.9em;
}

.delete-button,
.reply {
  transition: color 0.2s ease;
}

.delete-button {
  margin-left: 1rem !important;

  &:hover {
    color: var.$red;
  }
}

.text {
  color: #111111;
  line-height: 22px;
  margin: 0px 0px 10px;
  text-align: left;
}

.avatar {
  &-container {
    $size: 45px;
    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;
    background-color: #d4d4d4;
    border-radius: 50%;
    overflow: hidden;
  }
}

.comment-time {
  display: inline;
  line-height: 22px;
  text-align: left;
}

.reply {
  margin-left: 1.2rem;

  display: inline;

  &:hover {
    color: #000;
  }
}

.replies {
  margin-left: 65px;
}
