.read-more {
  position: relative;
}

.content {
  overflow: hidden;
}

.expand {
  background: linear-gradient(
    180deg,
    rgba(241, 242, 244, 0) 0,
    #f1f2f4 50%,
    #f1f2f4
  );
  cursor: pointer;
  font-weight: 700;
  height: 60px;
  margin-top: -54px;
  padding-bottom: 5px;
  padding-top: 30px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
