@use "assets/styles/variables";
@use "assets/styles/mixins";

.top5-wrapper {
  padding: 0 6px;
}

.top {
  padding-left: 6px;
  padding-right: 6px;

  &-1,
  &-2 {
    margin-bottom: 12px;

    .ranking-figure {
      height: 200px;
    }

    :global(.icon-bookmark) {
      width: 31px;
      height: 34px;
      font-size: 1rem;
    }

    .ranking-figure__content {
      padding-top: 15px;
      .title {
        font-size: 1.4em;
      }

      .summary {
        @include mixins.multiLineClamp(2);
      }
    }

    :global(.card-figure__image) {
      width: 182px;
      min-width: 182px;
    }

    :global(.card-figure__content__title) {
      @include mixins.multiLineClamp(1);
    }

    :global(.card-figure__content__author) {
      margin-top: 0.6em;
    }

    :global(.card-figure__content) {
      padding: 20px 0;
    }

    :global(.image-wrapper) {
      $image-size: 182px;
      width: $image-size !important;
      height: $image-size !important;
    }
  }
}

.top {
  opacity: 0;
  transition: all 1s ease;

  &-1 {
    transform: translateX(-200px);
  }

  &-2 {
    transform: translateX(200px);
  }

  &-3,
  &-4,
  &-5 {
    transform: translateY(100px);
  }

  &.active.top {
    &-1,
    &-2,
    &-3,
    &-4,
    &-5 {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@media (max-width: 992px) {
  .top {
    &-1,
    &-2 {
      :global(.icon-bookmark) {
        margin-left: 25px;
      }

      :global(.card-figure__image) {
        margin: 0 65px 0 35px;
      }
    }

    &-3 {
      :global(.icon-bookmark) {
        margin-left: 25px;
      }

      :global(.card-figure__image) {
        margin: 0 35px 0 25px;
      }
    }

    &-3 {
      margin-bottom: 12px;
    }
  }
}

@media (max-width: 768px) {
  .top {
    &-1,
    &-2 {
      :global(.icon-bookmark) {
        margin-left: 15px;
      }

      :global(.card-figure__image) {
        margin: 0 25px 0 15px;
      }
    }
    &-3,
    &-4,
    &-5 {
      :global(.icon-bookmark) {
        margin-left: 25px;
      }

      :global(.card-figure__image) {
        margin: 0 35px 0 35px;
      }
    }

    &-4 {
      margin-bottom: 12px;
    }
  }
}
