@use "assets/styles/variables";
@use "components/Scrollbar/Scrollbar.module.scss";

.wrapper {
  border-bottom: 1px solid #ccc;

  .header {
    height: calc(variables.$header-height - 15px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      display: flex;
      align-items: center;
      flex: 1;
      margin-right: 5rem;
    }

    &__title__image {
      $size: 36px;
      font-size: $size;
      width: $size;
      height: $size;
      margin-right: 30px;
    }

    &__title__label {
      font-size: 1.3em;
      font-weight: 500;
      width: max-content;
    }

    &__navbar__link {
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-width: max-content;
      max-width: max-content;

      &:not(:first-child) {
        margin-left: 3rem;
      }

      &.active,
      &:not(.active):hover {
        color: variables.$primary-dark;
      }
    }
  }

  :global(.swiper) {
    // margin-left: 0;
    margin-right: 0;
    max-width: 300px;
  }

  :global(.swiper-wrapper) {
    overflow-x: auto;
    @extend .scrollbar;
    padding-bottom: 10px;
  }
}
