:global(.cover-image-field) {
  width: 250px;
}

:global(.contents-field) {
  width: 450px;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.button-group__submit-group {
  display: flex;
  align-items: center;
}

.contents-holder {
  margin: 0 -10px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.image-content {
  padding: 0 10px;
  margin-top: 20px;
}

.content-wrapper {
  position: relative;
}

.close-icon {
  position: absolute;
  top: 0.5rem;
  right: -0.1rem;
  color: #777;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}
