@use "assets/styles/variables";

.content {
  padding: 40px 0;
}

.icon {
  width: 40px;
  height: 50px;
}

.text {
  display: flex;
  flex-direction: column;

  strong {
    margin: 14px 0 6px;
    color: var(--primary-600);
  }
}

mark {
  font-weight: 500;
}

.conveniences {
  margin-top: 5rem;
  gap: 40px 0;
}

.convenience {
  border-radius: 10px;
  padding: 20px 10px;
}

@media (max-width: 992px) {
  .content {
    padding: 0 0 40px;
  }
}
