@use "assets/styles/variables";

.popper-wrapper {
  width: fit-content;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder {
  cursor: pointer;
}

.popper {
  border: 1px solid variables.$grey-300;
  border-radius: 0 0 10px 10px;

  box-shadow: 0 24px 48px 4px rgb(0 0 0 / 0.02), 0 12px 24px 2px rgb(0 0 0 / 0.08);
  background: var(--background-color);

  overflow: hidden;

  position: absolute;

  &.bottom {
    &-right,
    &-left,
    &-center {
      top: 100%;
    }

    &-right,
    &-left {
      animation: fadeInSide 0.3s ease;
    }

    &-right {
      right: 0;
    }

    &-left {
      left: 0;
    }

    &-center {
      left: 50%;
      translate: -50%;
      animation: fadeInCenter 0.3s ease;
    }
  }

  &.top {
    &-right,
    &-left,
    &-center {
      bottom: 100%;
    }

    &-right,
    &-left {
      animation: fadeInSide 0.3s ease;
    }

    &-right {
      right: 0;
    }

    &-left {
      left: 0;
    }

    &-center {
      left: 50%;
      translate: -50%;
      animation: fadeInCenter 0.3s ease;
    }
  }

  &.up {
    &-right,
    &-left {
      bottom: 0;
      border-radius: 10px;
      animation: fadeInSide 0.3s ease;
    }

    &-right {
      left: 100%;
    }

    &-left {
      right: 100%;
    }
  }

  &.down {
    &-right,
    &-left {
      top: 0;
      border-radius: 10px;
      animation: fadeInSide 0.3s ease;
    }

    &-right {
      left: 100%;
    }

    &-left {
      right: 100%;
    }
  }
}

@keyframes fadeInSide {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInCenter {
  from {
    opacity: 0;
    height: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
  }
}
