@use "assets/styles/variables";

.update-title {
  width: 800px;
  margin: calc(variables.$header-height + 30px) auto 30px;
  padding: 20px 55px;
  border: 1px solid variables.$border-gray;
}

.head-title {
  text-align: center;
  margin-bottom: 50px;
}
