@use "assets/styles/variables" as var;

.floating-container {
  background-color: var.$white;
  box-shadow: 0 2rem 3rem rgb(132 139 200 / 0.18);
  padding: 1.8rem;
  border-radius: 2rem;
  margin-top: var.$floating-container-margin-top;
  margin-bottom: 2rem;
}
