@use "assets/styles/variables";
@use "components/Scrollbar/Scrollbar.module.scss";

.dropdown-avatar {
  width: fit-content;
  color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.avatar {
  height: variables.$header-height;
  padding: 0 25px 0 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  color: inherit;

  &:hover::before,
  &.active::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;
    max-width: 120px;
    font-weight: 600;
  }

  &__chevron-icon {
    position: absolute;
    right: 0px;
    font-size: 20px;
    color: inherit;
  }

  &__icon {
    margin-right: 15px;
    $size: 24px;
    background-color: transparent;
    font-size: $size;
    width: calc($size * 1.5);
    height: calc($size * 1.5);
  }
}
